h1 {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  margin: 40px 0 0 0;
}
.manage {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    zoom: 0.7;
  }
}
.preview {
  height: 830px;
  overflow-y: scroll;
}
.image {
  text-align: center;
  position: fixed;
  top: 70%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: -99;
}
img {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  padding-right: 250px;
}
form {
  width: 500px;
  height: 830px;
  margin: 20px;
  text-align: left;
  border-radius: 10px;
}
label {
  color: white;
  display: inline-block;
  margin: 25px 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
input, textarea {
  display: block;
  padding: 10px 6px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
button {
  padding: 10px 20px;
  margin-top: 20px;
  background: white;
  border: 0;
  color: black;
  text-transform: uppercase;
  transition: transform 0.2s ease-out;
}
button:hover {
  background: rgb(190, 190, 190);
  cursor: pointer;
}
.error {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}